---

---
<header class="w-full relative top-0">
    <video muted autoplay loop src="/videos/hero2.webm" class="w-full h-full absolute object-cover object-center z-0"></video>
    <div>
        <h1 class="text-accent font-rudolphin">Desarrollo Web</h1>
    </div>
</header>

<style>
    header {
        height: calc(100vh - 5rem);
    }
</style>