<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Proyecto Final</title>
		<meta property="og:description" content="Desarrollador Web - Help Desk" />
		<meta property="og:image" content="https://final-project-308.pages.dev/imgs/avatar.png" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	html {
		scroll-behavior: smooth;
	}

	@font-face {
		font-family: 'gotham_bold';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/gotham_bold.woff") format("woff");
	}

	@font-face {
		font-family: 'gotham';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url("/fonts/gotham.woff") format("woff");
	}

	@font-face {
		font-family: 'rudolphin';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("/fonts/rudolphin.woff") format("woff");
	}
</style>
